/* Satrt global Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: #333;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 768px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rules */
.control-button {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(4, 76, 124, 0.9);
}
.control-button span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	background-color: #c72073;
	color: white;
	padding: 15px 25px;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
	font-weight: bold;
}
h1 {
	margin: 30px auto;
	font-weight: bold;
	font-size: 60px;
	color: #21f3f3;
	position: relative;
	width: fit-content;
}
.info-container {
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	padding: 20px 100px 20px 30px;
	background-color: #ddd;
	font-weight: bold;
	font-family: sans-serif;
	color: #c72073;
}
.game-container {
	display: grid;
	padding-top: 60px;
	width: 780px;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	gap: 20px;
	margin: 0 auto;
	align-items: center;
}
.game-container.no-clicking {
	pointer-events: none;
}
.game-container .block {
	height: 140px;
	width: 100%;
	box-shadow: 4px 4px 8px 0px #424242;
	cursor: pointer;
	position: relative;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}
.block .front {
	background-color: #333;
	line-height: 130px;
}
.block .front::before {
	content: "?";
	background-color: #fff;
	font-size: 80px;
	font-weight: bold;
}
.block .back {
	background-color: #607d8b;
	transform: rotateY(180deg);
}
.block .face {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	backface-visibility: hidden;
	border: 5px solid#2196F3;
}
.game-container img {
	width: 100%;
	height: 100%;
}
.game-container .block.is-flipped,
.game-container .block.has-match {
	transform: rotateY(180deg);
	pointer-events: none;
}
